<!DOCTYPE html>
<html>

<head>
    <title>Hope</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda+One|Prociono|Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="{{prefix}}static/client_list.css" />
    <link rel="stylesheet" href="../static/client_list.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script>
        function deleteAccount() {
            request = new XMLHttpRequest();

            accountUrl = window.location.href.split("/").slice(0, -2).join("/");
            request.open('DELETE', `${accountUrl}/`);
            request.send();
        }
    </script>
</head>

<body style="background-color: #222">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand">{{ username }}</a>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../account/">
                            <div class="item">Client List</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if not snooping %}
                        <a class="nav-link" href="./create_client" tabindex="-1" aria-disabled="true">
                            <div class="item">Add New Client</div>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item active">
                        {% if not snooping %}
                        <a class="nav-link" href="./settings" tabindex="-1" aria-disabled="true">
                            <div class="item">Settings</div>
                            <span class="sr-only">(current)</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% if not snooping %}
            <!-- <a href="./settings" class="logout btn btn-primary ml-auto">Settings</a> -->
            <a href="./logout" class="logout btn btn-primary ml-auto">Logout</a>
            {% endif %}
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <div class="col-sm-3 login-box my-auto mx-auto">
        <form action="./change_password" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <div class="row">
                <button type="submit" class="btn btn-primary" style="margin-right: 20px; margin-left: 15px">Change
                    Password</button>
                <button onclick="deleteAccount()" class="btn btn-primary" style="background-color: red;">Delete
                    Account</button>
            </div>
        </form>
        <br>
        {% if badpassword %}
        Passwords do not match
        {% endif %}
    </div>

    <footer class="footer card-footer bg-dark fixed-bottom">
        <div class="row">
            <div class="epics-img">
                <div class="text"><a style="color: white" href="../..">Earlybird Alert System</a></div>
                <!-- <img style="max-width: 15%; max-height: 10%; float: right;" src="{{prefix}}static/images/epics_logo.png" /> -->
            </div>
        </div>
    </footer>

    <script src="{{prefix}}static/client_list.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>