<!DOCTYPE html>

<html class="container">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Adding the Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merienda+One|Prociono|Raleway:500" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <title>Hope</title>
</head>

<body class="container">
    <div class="col-sm-3 login-box my-auto">
        <form class="form-seg" method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" style="font-size: 1em">Add Client</button>
        </form>
    </div>
</body>

</html>