body {
  background: #333;
  color: white;
  font-family: raleway;
}

.profile {
  width: auto;
  font-family: Raleway, Helvetica, sans-serif;
}

.image {
  border-radius: 100%;
  border: 1em;
  /* background-color: #998899; */
  background-color: #888;
  max-height: 30vh;
  max-width: 30vh;
  padding: 2px;
}

#heading {
  padding-top: 2px;
}

.homeless_list {
  box-shadow: 0px 5px 5px 0px black;
  width: 30%;
  float: left;
  color: white;
}

.homeless_list h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: righteous;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px 2rem;
}

.main ul {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  height: calc(100vh - 72px);
}

.final-list {
  box-shadow: 0px 0px 5px 0px black;
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  color: #999;
}

.list_name {
  text-align: center;
  font-size: 120%;
  font-family: Raleway, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px black;
  text-shadow: 1px 1px black;
  cursor: pointer;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: grey;
  margin-top: 10px;
  margin-bottom: 5px;
}

.names {
  width: auto;
  height: auto;
}

footer .text {
  float: left;
}

.btn.btn-primary {
  font: white;
  border: 1em;
  background-color: black;
  opacity: 0.5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.btn.btn-primary:hover {
  background-color: white;
  color: black;
}

.btn.btn-primary:active {
  background-color: beige;
  color: black;
}

.logout {
  margin-right: 10px;
}

@media (max-width: 800px) {
  nav .navbar-brand {
    display: none;
  }
}

nav .item:hover {
  color: gray;
}

nav .item::before {
  content: "";
  display: block;
  height: 2px;
  background-color: whitesmoke;
  position: relative;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav .item:hover::before {
  width: 100%;
}

@media (max-width: 560px) {
  .homeless_list {
    width: 100%;
  }

  .profile {
    background: #333;
    color: white;
    font-size: 0.8 em;
  }

  #profile {
    display: none;
  }
}

.text a {
  text-decoration: none;
}

.text a :hover {
  color: grey;
}

@media (min-width: 700px) {
  .login-box.col-sm-3 {
      min-height: 550px;
      min-width: 800px;
      flex-wrap: wrap;
      padding: 30px;
      padding-top: 50px;
      background-color: gray; 
      margin: 50px;
      border-radius: 10px;
      box-shadow: 0px 5px 5px 0px black;
  }
}

@media (max-width: 800px) {
  .login-box.login-box.col-sm-3 {
      /* max-height: 550px; */
      max-width: 800px;
      flex-wrap: wrap;
      padding: 30px;
      padding-top: 50px;
      background-color: gray; 
      margin: 5px;
      border-radius: 10px;
      box-shadow: 0px 5px 5px 0px black;
  }
}

@media (min-width: 700px) {
  .login-box.col-sm-3 {
      min-height: auto;
      min-width: 800px;
      flex-wrap: wrap;
      padding: 30px;
      padding-top: 50px;
      background-color: gray; 
      margin: 50px;
      border-radius: 10px;
      box-shadow: 0px 5px 5px 0px black;
  }
}

label {
  color: black;
  text-align: center;
  font-family: Raleway ,Helvetica, sans-serif;
  font-size: 2em;
}

input {
  position: relative;
  /* left: 15%; */
  /* right: 15%; */
  width: 100%;
  margin-top: 2px;
  margin-bottom: 10px;
  font-family: Raleway ,Helvetica, sans-serif;
  font-size: 30px;
  padding-inline-end: 10%;
  background-color: black;
  opacity: 0.5;
  color: white;
}

