@media (max-width: 700px) {
    body {
        margin: 0;
        /* background: #222222; */
        background-image: url(../static/images/IMG_F89923193AA0-1.jpeg);
        font-weight: 500;
        position: relative;
        background-size: cover;
    }
}

@media (min-width: 700px) and (max-width: 1300px) {
    body {
        margin: 0;
        /* background: #222222; */
        background-image: url(../static/images/index_tab_size.jpg);
        font-weight: 500;
        position: relative;
        background-size: cover;
    }
}

@media (min-width: 1300px) {
    body {
        margin: 0;
        /* background: #222222; */
        background-image: url(../static/images/hope_hands_silhouettes_122288_3840x2160.jpg);
        font-weight: 500;
        position: relative;
        background-size: cover;
    }
}

header {
    height: 15vh;
    /* background: #55d6aa; */
    background: #222222;
    align-content: center;
    overflow: hidden;
}

header h1 {
    float: right;
    font-size: 2em;
    margin-right: 5%;
    padding-top: 2%;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-style: italic;
    font-weight: 500;
}

main {
    display: flex;
    height: 75vh;
    margin-bottom: 0px;
}

.hope_img {
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.head-image {
    height: 100%;
    padding: 0px;
}

.container {
    width: 100;
    margin: 0 auto;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 20px;
}

ul {
    width: 100%;
    flex-direction: row-reverse;
}

nav li {
    font-family: 'Righteous', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.75em;
}

nav a {
    padding-left: 0px;
}

.item {
    padding-left: 20px;
}

.bg-custom {
    background-color: black;
}

nav .item:hover {
    color: gray;
}

nav .item::before {
    content: '';
    display: block;
    height: 5px;
    background-color: whitesmoke;
    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav .item:hover::before {
    width: 100%;
}